<% content_for :title, "Editing land" %>

<h1>Editing land</h1>

<%= render "form", land: @land %>

<br>

<div>
  <%= link_to "Show this land", @land %> |
  <%= link_to "Back to lands", lands_path %>
</div>
